/****RESET****/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/****RESET-CLOSE****/
.active{
  display: block!important;
}

.carousel_container{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 100vh;
width: 70%;
margin:0 auto;
}
 .carousel{
   height: 70%;
   min-width: 900px;
   max-width: 1200px;
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
 }
 ul.carousel_img {
   height: 100%
 }
 .container_slider{
    height: 100%;
    text-align: center;
 }

ul.carousel_img li{
  height: 100%;
  text-align: center;
  list-style: none;
  display: none;

}
ul.carousel_img li img {
  height: 100%;
  vertical-align: middle;
}
ul.dots {
    position: relative;
    padding-left: 0;
}
ul.dots li{
  display: inline-block;
}
ul.dots li::after {
    color: blue;
    content: "\25CB";
    display: inline-block;
    font-weight: 900;
    font-size: 24px;
}
ul.dots .active {
    content: "\25CF"!important;
}

.fa-chevron-left, .fa-chevron-right  {
  font-size: 40px;
}
